<app-breadcrumb [title]="'My CV'" [items]="['Profile']" [active_item]="'My CV'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header pb-0">
          <div class="text-center">
            <h5>{{profileDetails?.full_name}}</h5>
            <span>{{profileDetails?.position}}</span>
          </div>
          <p>Last updated on {{profileDetails?.modified_at | date}}</p>
        </div>
        <div class="card-body pt-0">
          <pdf-viewer [src]="cv"
            [render-text]="true"
            [original-size]="false"
            class="pdf-viewer"
          ></pdf-viewer>
          <div class="text-center mt-3">
            <button class="btn btn-primary" type="button" (click)="goBack()">Back</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <app-profile-right-sidebar
        [avatar]="profileDetails?.photo"
        [qrCode]="profileDetails?.qr_code"
        (onUploadCv)="uploadCV($event)"
      ></app-profile-right-sidebar>
    </div>
  </div>
</div>


<!-- Sample -->
