<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header d-flex justify-content-between">
                  <h5 *ngIf="tableName">{{tableName}}</h5>
                  <!-- <div class="card-controls">
                  </div> -->
                  <ng-content select=".card-controls"></ng-content>
              </div>
              <div class="card-body custom-datatable noscroll">
                <input *ngIf="filtering?.show" type="text" class="filter-ngx form-control" placeholder="{{filtering?.placeholder}}"
                  (keypress)="onFiltering.emit($event)" />
                  <!-- <ngx-datatable
                      class="bootstrap"
                      [rows]="rows"
                      [loadingIndicator]="loadingIndicator"
                      [columns]="columns"
                      [columnMode]="columnMode"
                      [headerHeight]="headerHeight"
                      [footerHeight]="footerHeight"
                      [rowHeight]="rowHeight"
                  >
                      <ng-content></ng-content>
                  </ngx-datatable> -->
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Container-fluid Ends -->
